.birthdayText{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    margin-top: -10px;
};

.birthdayInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}
